.logo{
  border-radius: 60%; 
  width: 50px; 
  margin-left: 10%; 
  margin-right: 0;
}

/* Remova o espaçamento lateral padrão do Bootstrap */
nav.navbar {
  padding-right: 0;
  padding-left: 0;
}

/* Garanta que o conteúdo do navbar ocupe toda a largura */
div.collapse.navbar-collapse {
  width: 100%;
}

@media (max-width: 600px) {
  .navbar-collapse.custom-collapse {
    justify-content: center;
    text-align: center;
  }

  .custom-toggle{
    margin-right: 3%;
  }

  .logo{
    margin-left: 3%;
  }
}