h1,h5{
  margin-bottom: 3%;
}

.container1{
margin-top: 5%;
}

.container1, .content1{
display: flex;
justify-content: center;
align-items: center;
padding: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dark-mode .card {
  background-color: #232222;
  color: #fff;
}

.card-wrapper {
  flex: 1 0 calc(33.33% - 8%); /* Ajusta a largura e o espaçamento */
  margin-bottom: 20px;
  box-sizing: border-box;
  max-width: calc(33.33% - 5%); /* Ajusta a largura máxima */
}

.card {
  width: 100%;
  margin-bottom: 20px; /* Espaçamento inferior do card */
}

.card-wrapper:nth-child(3n) {
  margin-right: 0;
}

.tecnologias{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  width: 100%;
}

.skills{
  display: flex;
  flex-direction: row;
}

.hardSkill, .softSkill{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width:600px) {
  .container1,.content1, .projetos{
    display: flex;
    flex-wrap: wrap;
  }

  .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card-wrapper {
    flex: 1 0 calc(33.33% - 8%); 
    margin-bottom: 20px;
    box-sizing: border-box;
    max-width: calc(33.33% - 5%);
  }
  
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .card-wrapper:nth-child(3n) {
    margin-right: 0;
  }
  @media screen and (max-width:600px) {
    .container1,.content1, .projetos{
      display: flex;
      flex-wrap: wrap;
    }
  
    .card-container{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      width: 100vw;
      justify-content: space-between;
    }
  
    .card-wrapper {
      flex: 1 0; 
      margin-right: 0; 
      max-width: 100%; 
      width: 50%;
      box-sizing: border-box;
    }

    h1{
      margin-bottom: 8%;
    }

    h5,p{
      margin-bottom: 6%;
    }
  }
}    