body {
    background-color: #ffffff;
    color: #323131;
    transition: background-color 0.3s, color 0.3s;
}

nav, footer {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

/* Tema escuro */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2em;
    margin: 0 1%;
    /* Removida a borda */
    /* border: hsla(267,83%,75%,1) solid 0.5px; */
    border-radius: 50px;
    overflow: hidden;
    /* Adicionada a sombra para demarcar a linha do toggle */
    box-shadow: 0 0 5px hsla(267,83%,75%,0.7);
}

.switch::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(20px);
    z-index: -1;
    border-radius: 50px;
    background-color: #d8ff99;
    background-image: radial-gradient(at 21% 46%, hsla(183,65%,60%,1) 0px, transparent 50%),
    radial-gradient(at 23% 25%, hsla(359,74%,70%,1) 0px, transparent 50%),
    radial-gradient(at 20% 1%, hsla(267,83%,75%,1) 0px, transparent 50%),
    radial-gradient(at 86% 87%, hsla(204,69%,68%,1) 0px, transparent 50%),
    radial-gradient(at 99% 41%, hsla(171,72%,77%,1) 0px, transparent 50%),
    radial-gradient(at 55% 24%, hsla(138,60%,62%,1) 0px, transparent 50%);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fdfefedc;
    transition: .4s;
    border-radius: 30px;
    box-sizing: border-box;
}

/* Slider knob */
.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    background-color: #ff99fd;
    background-image: radial-gradient(at 81% 39%, hsla(327,79%,79%,1) 0px, transparent 50%),
    radial-gradient(at 11% 72%, hsla(264,64%,79%,1) 0px, transparent 50%),
    radial-gradient(at 23% 20%, hsla(75,98%,71%,1) 0px, transparent 50%);
    transition: .4s;
    left: 0.4em;
    bottom: 0.3em;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
        rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
}

/* Checked state */
.input__check:checked + .slider {
    background-color: #17202A;
}

.input__check:checked + .slider:before {
    transform: translateX(1.5em);
}
