.text-center.pt-4 {
    width: 9cm;
    margin: 0; 
}
.custom-footer {
    display: flex;
    border-top: 3px solid #dcdcdc;
    justify-content: center;
    align-items: center;
}

.text-center.pt-4 a {
    color: inherit;
}

.container {
    width: 100%;
}

footer {
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.text-center.pt-3 {
    margin-bottom: 3%;
}

.text-center.pt-3 a {
    margin-left: 3%;
}

.dark-mode .text-body {
    color: #fff !important;
}

.custom-footer {
    background-color: #f8f9fa; /* Cor clara padrão */
    color: #1a1919;
    transition: background-color 0.3s, color 0.3s;
    padding: 1rem;
}

.dark-mode .custom-footer {
    background-color: #1a1919; /* Cor escura */
    color: #fff;
}

/* Estilos para os ícones sociais */
.custom-footer .btn {
    color: #1a1919; /* Cor padrão dos ícones */
    transition: color 0.3s;
}

.dark-mode .custom-footer .btn {
    color: #fff; /* Cor dos ícones em modo escuro */
}

div.container {
    width: 100%;
}
