.text-center.pt-4 {
    width: 9cm;
    margin: 0; 
}
.custom-footer {
    display: flex;
    border-top: 3px solid #dcdcdc;
    justify-content: center;
    align-items: center;
}
/*style={{backgroundColor:"#D3D3D3"}} */

.text-center {
    margin-bottom: 3%; 
  }

.text-center.pt-4 a {
    color: inherit;
}

.container {
    width: 100%;
}

footer {
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.container {
    width: 100%;
}
